<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Agile Roadmapping</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.5.0/css/all.css" 
          integrity="sha384-j8y0ITrvFafF4EkV1mPW0BKm6dp3c+J9Fky22Man50Ofxo2wNe5pT1oZejDH9/Dt" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/style.css">

</head>

<body>

    <div id="app" class="container-fluid">

        <h2>Agile Roadmapping</h2>

        <div class="panel float-right">
            <div class="card  mt-3" style="width: 14rem;">
                <div class="card-header p-2">
                    <h5 class="card-title">Options</h5>
                </div>
                <div class="card-body p-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="optCardSize" v-model="options.sizeCardWidth">
                        <label class="form-check-label" for="optCardSize"> Size card widths according to shirt size
                        </label>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-primary" v-on:click="share">
                            <i class="fas fa-share-alt"></i>
                            Share URL
                        </button>
                    </div>
                </div>
            </div>

            <div class="clear"></div>

            <div class="card float-right mt-3 p-0" style="width: 14rem;">

                <div class="card-header p-2">
                    <h5 class="card-title">Velocity</h5>
                    <h6 class="card-subtitle text-muted">Map shirt size to sprints</h6>
                </div>

                <ul class="list-group list-group-flush form-inline">
                    <li class="list-group-item p-1" v-for="v in options.velocities">
                        <label for="">
                            <span class="" style="width:2.5rem;">{{v.size}}</span>

                            <input type="number" step=".1" class="form-control mx-2 " style="width:9.5rem" v-model="v.sprints">
                        </label>

                    </li>
                </ul>

            </div>
        </div>



        <div id="features" class="d-flex flex-row">
            <div class="reveal-hover-parent" v-for="(grp, grp_i) in roadmap">

                <div class="card-header">
                    <h5 class="card-title m1 ">{{grp.groupName}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{groupSprints(grp)}} sprints
                        ({{sprintTime(groupSprints(grp))}}) <br>
                        {{sprintTime(groupSprintsRemaining(grp))}} remaining
                    </h6>
                </div>

                <div class="d-flex flex-column ">

                    <div v-for="(ft, ft_i) in grp.features" class="card reveal-hover-parent m-1 p-0" v-bind:style="{ width: cardWidth(ft.size)}">


                        <i class="far clickable position-absolute p-2" style="top:0;right:0" v-bind:class="[ft.completed ? 'fa-check-square text-success' : 'fa-square reveal-hover']"
                            v-on:click="togglecompleted(ft)"></i>

                        <i class="fas fa-trash-alt reveal-hover text-danger p-2 clickable position-absolute" style="top:0;left:0"
                            v-on:click="removeFeature(grp, ft_i)"></i>

                        <div class="card-body p-2 d-flex justify-content-center align-items-center text-center" style="height:4em; font-size: 1.2rem;">


                            <span class="p-1 reveal-input-hover" contenteditable="true" 
                                v-on:blur="updateFeatureName(ft, $event)"
                                ref="input" v-html="ft.name">
                            </span>

                        </div>


                        <div class="card-footer p-1" style="font-size: .85rem;">

                            <span style="width: 2rem;" class="d-inline-block">{{ft.size}}:</span>

                            <i class="clickable fa-tshirt" v-bind:class="[fillShirt(ft.size, 'XS') ? 'fas' : 'far']" v-on:click="setSize(ft, 'XS')"></i>
                            <i class="clickable fa-tshirt" v-bind:class="[fillShirt(ft.size, 'SM') ? 'fas' : 'far']" v-on:click="setSize(ft, 'SM')"></i>
                            <i class="clickable fa-tshirt" v-bind:class="[fillShirt(ft.size, 'MD') ? 'fas' : 'far']" v-on:click="setSize(ft, 'MD')"></i>
                            <i class="clickable fa-tshirt" v-bind:class="[fillShirt(ft.size, 'LG') ? 'fas' : 'far']" v-on:click="setSize(ft, 'LG')"></i>
                            <i class="clickable fa-tshirt" v-bind:class="[fillShirt(ft.size, 'XL') ? 'fas' : 'far']" v-on:click="setSize(ft, 'XL')"></i>
                            <!--   
                     <select class="form-control-sm " 
                            v-model="ft.size">
                        <option v-for="s in options.shirtSizes" v-bind:value="s">{{s}}</option>
                      </select>
                      -->


                        </div>
                    </div>


                 
                </div>

                <i class="fas fa-plus-circle fa-lg reveal-hover text-succes clickable m-1" v-on:click="addFeature(grp)"></i>

            </div>

        </div>








    </div>




    <!-- Optional JavaScript -->
    <script src="scripts/lib/vue.js"></script>
    <script src="scripts/script.js"></script>
</body>

</html>